<%- include('../admin/layout/adminSidebar.ejs')%>

<%- include('../admin/layout/adminHeader.ejs')%>


<div class="main-panel">
  <div class="content-wrapper">
<div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Add Banners</h4>
        <p class="card-description"> Give banner details </p>
        <form class="forms-sample" action="/admin/addBanner" method="post" enctype="multipart/form-data">
            <div class="col-lg-3 col-md-6 rounded-image-preview ">
                <label for="imageInput1" class="image-label ">Banner Image
                  <div class="rounded-image-preview">
                    <img id="imagePreview1"
                    src=""
                      alt="Preview" />
                  </div>
                  <input name="image" type="file" accept="image/*" id="imageInput1" class="imageInput" >
                </label>
              </div>
          <div class="form-group">
            <label for="exampleInputName1">Banner Title</label>
            <input type="text" class="form-control" id="exampleInputName1" name="title" placeholder="Name">
          </div>
          
          <div class="form-group">
            <label for="exampleTextarea1">Description</label>
            <textarea class="form-control" id="exampleTextarea1" name="description" rows="4"></textarea>
          </div>
          <button type="submit" class="btn btn-primary mr-2">Submit</button>
          <button class="btn btn-inverse-danger"><a href="/admin/bannerDetails">Cancel</a></button>
        </form>
      </div>
    </div>
  </div>
  </div>

 
<%- include('../admin/layout/adminFooter.ejs')%>