<%- include('../user/layout/userHeader.ejs')%>

<main class="main">
    <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                
                <li class="breadcrumb-item active" aria-current="page">About us</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->
    <div class="container">
        <h2 class="title text-center brands m-5">About FurniCube </h2>
        

        <div class="page-header page-header-big text-center" style="background-image: url('/user/images/banners/contact.jpg')">
            
        </div><!-- End .page-header -->
    </div><!-- End .container -->
    <div class="page-content pb-0">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mb-3 mb-lg-0">
                    <h2 class="title">Our Vision</h2><!-- End .title -->
                    <p>At our <b>furniCube</b>, we envision creating inviting spaces that resonate with your unique style and comfort. Our mission is to offer a diverse range of high-quality furniture, enabling you to shape the perfect atmosphere for your home, where beauty, function, and affordability converge effortlessly.</p>
                </div><!-- End .col-lg-6 -->
                
                <div class="col-lg-6">
                    <h2 class="title">Our Mission</h2><!-- End .title -->
                    <p>Our mission is to provide accessible, high-quality furniture solutions that enhance your lifestyle. We're dedicated to delivering exceptional customer experiences, offering an extensive range of design choices, ensuring affordability, and exceeding expectations in quality, sustainability, and service. We strive to transform houses into homes filled with warmth and character</p>
                </div><!-- End .col-lg-6 -->
            </div><!-- End .row -->

            <div class="mb-5"></div><!-- End .mb-4 -->
        </div><!-- End .container -->

        <div class="bg-light-2 pt-6 pb-5 mb-6 mb-lg-8">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 mb-3 mb-lg-0">
                        <h2 class="title">Who We Are</h2><br><!-- End .title -->
                        
                        <p class="mb-2">We are a passionate team of <b>furniCube</b> enthusiasts committed to redefining home decor. With a deep appreciation for style and functionality, we curate and deliver exceptional furniture solutions. Our expertise, dedication, and commitment to customer satisfaction drive us to create comfortable, stylish, and affordable living spaces. </p>

                        <h2 class="title">How to Shop on furniCube</h2><br><!-- End .title -->
                        
                        <p class="mb-2"><b>Browse the Catalog:</b> Explore our wide range of furniture and decor products. Click on categories or use the search feature to find items of interest. <br>
                            <b>Product Selection: </b>Click on a product to view details, images, and pricing. Choose the items you want to purchase by adding them to your cart. <br>
                        
                            <b>Shopping Cart:</b> Review your cart, update quantities, and apply any discount codes if available. <br>
                            
                            <b>Checkout:</b> Proceed to checkout. You'll need to provide shipping information, including your address. <br>
                            
                           <b>Payment:</b> Select your preferred payment method - Cash on Delivery, Wallet Payment, or Razorpay Online Payment. <br>
                            
                            <b>Place Order:</b> Confirm your order and payment. You will receive an order confirmation. <br>
                            
                            <b>Delivery:</b> Sit back and relax while we prepare and deliver your furniture to your doorstep. <br>
                            
                            Enjoy your shopping experience and the transformation of your living space with our quality furniture!</p>
                        
                        
                    </div><!-- End .col-lg-5 -->
                    

                    <div class="col-lg-6 offset-lg-1">
                        <div class="about-images">
                            <img src="/user/images/about/img-2.jpg" alt="" class="about-img-front">
                            
                        </div><!-- End .about-images -->
                    </div><!-- End .col-lg-6 -->
                </div><!-- End .row -->
            </div><!-- End .container -->
        </div><!-- End .bg-light-2 pt-6 pb-6 -->

        <div class="container">
            <div class="row">
                <div class="col-lg-6 mb-3 mb-lg-0">
                    <h2 class="title m-2">Payment Methods</h2><!-- End .title -->
                    <p>Our payment methods offer convenience and flexibility. Choose from Cash on Delivery for a traditional and secure option, Wallet Payment for quick transactions, and Razorpay for seamless online payments, ensuring a smooth shopping experience tailored to your preference.</p>
                </div><!-- End .col-lg-6 -->
                
                <div class="col-lg-6">
                    <h2 class="title m-2">Money Back Guarantee</h2><!-- End .title -->
                    <p>At <b>FurniCube</b>, we stand by our commitment to customer satisfaction. Our Money-Back Guarantee ensures that if you encounter any issues with your order, or if you choose to cancel or return a product after payment, we will promptly refund the amount to your Furnicube wallet. This wallet credit can be conveniently used for future purchases, providing you with a hassle-free and flexible shopping experience.</p>
                </div><!-- End .col-lg-6 -->
            </div><!-- End .row -->

            <div class="mb-5"></div><!-- End .mb-4 -->
        </div><!-- End .container -->

        <div class="mb-2"></div><!-- End .mb-2 -->
        <div class="container">
            <div class="row d-flex">
                <div class="col-lg-6 mb-3 mb-lg-0">
                    <h2 class="title m-2">Returns</h2><!-- End .title -->
                    <p>Our Return Policy is designed with your peace of mind in mind. You have 7 days from the date of delivery to return a product. Upon receipt of the returned item, we will refund the purchase amount to your wallet, ensuring a convenient and straightforward return process for your satisfaction and convenience.</p>
                </div><!-- End .col-lg-6 -->
                <div class="col-lg-6">
                    <h2 class="title m-2">Shipping</h2><!-- End .title -->
                    <p>At <b>furniCube</b>, we offer the added convenience of free shipping. Enjoy cost-free delivery on your furniture orders, making your shopping experience even more affordable and accessible. Experience quality products, outstanding service, and no shipping charges on us.</p>
                </div><!-- End .col-lg-6 -->
                
                
            </div><!-- End .row -->

            <div class="mb-5"></div><!-- End .mb-4 -->
        </div><!-- End .container -->
        <div class="more-container text-center mt-0 mb-7">
            <a href="/shop" class="btn btn-outline-dark-3 btn-more"><span>Let's go shopping!</span><i class="fa-duotone fa-cart-shopping-fast"></i></a>
        </div>


        
               

    </div><!-- End .page-content -->
</main><!-- End .main -->

<%- include('../user/layout/userFooter.ejs')%>