<%- include('../user/layout/userHeader.ejs')%>

		<div class="wrapper" >
			<div class="inner">
				<div class="image-holder">
					<img src="/login/sofa.png" alt="">
				</div>
				<form action="/forget" method="post" id="signupForm">
					<h3>Forget Password ?</h3>
					
					<div class="form-wrapper">
						<input type="text" name="email" placeholder="Enter your Email Id" class="form-control" required>
						<i class="zmdi zmdi-email"></i>
					</div>
					
					
                    <div class="form-wrapper">
                        <% if(typeof message !== 'undefined'){ %>
                            <span
                              id="er2"
                              style="color: rgb(241, 7, 7); text-align: center"
                              ><%= message%></span
                            >
                            <% } %>
                    </div>

					<button type="submit">Send Mail
						<i class="zmdi zmdi-arrow-right"></i>
					</button>
                    
				</form>
                
			</div>
		</div>
		
		<script src="/user/signupValidation.js"></script>
		</body>
		</html>
