<%- include('../user/layout/userHeader.ejs')%>

		<div class="wrapper" >
			<div class="inner">
				<div class="image-holder">
					<img src="/login/sofa.png" alt="">
				</div>
				<form action="/login" method="post" id="signupForm">
					<h3>Log In</h3>
					
					<!-- <div class="form-wrapper">
						<input type="text" placeholder="Username" class="form-control">
						<i class="zmdi zmdi-account"></i>
					</div> -->
					<div class="form-wrapper">
						<input type="text" name="email" id="email" placeholder="Email Address" class="form-control" required>
						<i class="zmdi zmdi-email"></i>
						<span id="emailError" style="color: red;"></span>
					</div>
					
					<div class="form-wrapper">
						<input type="password" placeholder="Password" name="password" class="form-control" required>
						<i class="zmdi zmdi-lock"></i>
					</div>
					<!-- <div class="form-wrapper">
						<input type="password" placeholder="Confirm Password" class="form-control">
						<i class="zmdi zmdi-lock"></i>
					</div> -->
                    <div class="form-wrapper">
                        <% if(typeof message !== 'undefined'){ %>
                            <span
                              id="er2"
                              style="color: rgb(241, 7, 7); text-align: center"
                              ><%= message%></span
                            >
                            <% } %>
                    </div>

					<button type="submit">Log In
						<i class="zmdi zmdi-arrow-right"></i>
					</button>
                    <br>
                    <p>Don't have an account ? <a href="/register"><b class="text-dark"> Register.</b></a></p>
					<!-- <p>If you haven't verify your account ? <a href="/verifyAcc"><b class="text-dark"> Verify.</b></a></p> -->
                    <a href="/forget"><b class="text-dark">Forget Password ?</b></a>
				</form>
                
			</div>
		</div>
		<script src="/user/signupValidation.js"></script>
		</body>
		</html>

