<%- include('../user/layout/userHeader.ejs')%>

		<div class="wrapper" >
			<div class="inner">
				<div class="image-holder">
					<img src="/login/sofa.png" alt="">
				</div>
				<form id="signupForm">
					<h3>Register</h3>
					
					<div class="form-wrapper">
						<input type="text" name="name" placeholder="Full Name" id="name" class="form-control" required>
						<i class="zmdi zmdi-account"></i>
						
					</div>
					<div class="form-wrapper">
						<input type="text" name="email" id="email" placeholder="Email Address" class="form-control" required>
						<i class="zmdi zmdi-email"></i>
						<!-- <span id="emailError" style="color: red;"></span> -->
					</div>
                    <div class="form-wrapper">
						<input type="tel" name="number" placeholder="Phone No" id="Number" class="form-control"  required>
						<i class="zmdi zmdi-phone"></i>
					</div>
					<div class="form-wrapper">
						<input type="password" placeholder="Password" id="password" minlength="4" name="password" class="form-control" required>
						<i class="zmdi zmdi-lock"></i>
					</div>
					<div class="form-wrapper">
						<input type="password" placeholder="Confirm Password" minlength="4" id="con_password" name="con_password" class="form-control" required>
						<i class="zmdi zmdi-lock"></i>
					</div>

					
					<!-- <div class="form-wrapper">
						<input type="password" placeholder="Confirm Password" class="form-control">
						<i class="zmdi zmdi-lock"></i>
					</div> -->
                    

					
						
						<div id="error-message" data-aos="fade-down" style="top: 6rem; display: none;"
										class="alert alert-dark  py-4	 fade show fs-5 fixed-top alt text-center text-white"
								role="alert">
								<span class="text-info link-underline-light"></span>
						</div>
						

					<button id="regSubmit">Register Account
						<i class="zmdi zmdi-arrow-right"></i>
					</button>
                    <br>
                    <p>Already have an account? <a href="/loadLogin"><b class="text-dark"> Log In</b></a></p>
					<!-- <p>If you haven't verify your account ? <a href="/verifyAcc"><b class="text-dark"> Verify.</b></a></p> -->
                    
				</form>
                
			</div>
		</div>
		<script src="/user/signupValidation.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

		</body>
		</html>

