<%- include('../user/layout/userHeader.ejs')%>

		<div class="wrapper" >
			<div class="inner">
				<div class="image-holder">
					<img src="/login/sofa.png" alt="">
				</div>
				<form action="/register" method="post" id="signupForm">
					<h3>Register</h3>
					
					<div class="form-wrapper">
						<input type="text" name="name" placeholder="Full Name" id="name" class="form-control" required>
						<i class="zmdi zmdi-account"></i>
						
					</div>
					<div class="form-wrapper">
						<input type="text" name="email" id="email" placeholder="Email Address" class="form-control" required>
						<i class="zmdi zmdi-email"></i>
						<span id="emailError" style="color: red;"></span>
					</div>
                    <div class="form-wrapper">
						<input type="number" name="number" placeholder="Phone No" id="Number" class="form-control" minlength="10" required>
						<i class="zmdi zmdi-phone"></i>
					</div>
					<div class="form-wrapper">
						<input type="password" placeholder="Password" id="password" minlength="4" name="password" class="form-control" required>
						<i class="zmdi zmdi-lock"></i>
					</div>
					<div class="form-wrapper">
						<input type="password" placeholder="Confirm Password" minlength="4" id="con_password" name="con_password" class="form-control" required>
						<i class="zmdi zmdi-lock"></i>
					</div>
					<!-- <div class="form-wrapper">
						<input type="password" placeholder="Confirm Password" class="form-control">
						<i class="zmdi zmdi-lock"></i>
					</div> -->
                    <div class="form-wrapper">
                        <% if(typeof message !== 'undefined'){ %>
                            <span
                              id="er2"
                              style="color: rgb(241, 7, 7); text-align: center"
                              ><%= message%></span
                            >
                            <% } %>
                    </div>

					<button type="submit">Register Account
						<i class="zmdi zmdi-arrow-right"></i>
					</button>
                    <br>
                    <p>Already have an account? <a href="/loadLogin"><b class="text-dark"> Log In</b></a></p>
					<!-- <p>If you haven't verify your account ? <a href="/verifyAcc"><b class="text-dark"> Verify.</b></a></p> -->
                    
				</form>
                
			</div>
		</div>
		<script src="/user/signupValidation.js"></script>
		</body>
		</html>

