<%- include('../user/layout/userHeader.ejs')%>

		<div class="wrapper" >
			<div class="inner">
				<div class="image-holder">
					<img src="/login/sofa.png" alt="">
				</div>
				<form action="/newPass" method="post" id="signupForm">
					<h3>New Password</h3>					
						<input type="hidden" name="email" id="email" value="<%= email %>" class="form-control" required>
					<div class="form-wrapper">
						<input type="password" placeholder="New Password" name="password" class="form-control" required>
						<i class="zmdi zmdi-lock"></i>
					</div>
					
                    <div class="form-wrapper">
                        <% if(typeof message !== 'undefined'){ %>
                            <span
                              id="er2"
                              style="color: rgb(241, 7, 7); text-align: center"
                              ><%= message%></span
                            >
                            <% } %>
                    </div>

					<button type="submit">Create
						<i class="zmdi zmdi-arrow-right"></i>
					</button>
                    
				</form>
                
			</div>
		</div>
		<script src="/user/signupValidation.js"></script>
		</body>
		</html>

